# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Logs
*.log

# Crash logs
crash.log

# Environment files
*.tfvars.local

# macOS
.DS_Store

# VS Code
.vscode/

# Node
node_modules/
coverage/